.container {
  width: 1350px;
  margin: auto;
}
.container-fluid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  h2 {
    font: 600 20px Arial;
    padding-top: 10px;
  }
  p {
    font: 400 14px Arial;
  }
}
.AKxYR5 {
  padding: 5px 10px 0 10px;
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.leftP {
  h2 {
    width: 30%;
    font: 600 50px Arial;
  }
  p {
    width: 25%;
    font: 400 20px Arial;
  }
}
.leftP button {
  height: 10%;
  padding: 10px;
  background-color: yellow;
  border-radius: 1px solid black;
  border-radius: 10%;
  a {
    text-decoration: none;
    font: 600 18px Arial;
    color: black;
  }
}
